<?xml version="1.0"?>
<config>
    <modules>
        <Studioforty9_Performance>
            <version>0.1.0</version>
        </Studioforty9_Performance>
    </modules>
    <global>
        <models>
            <Studioforty9_performance>
                <class>Studioforty9_Performance_Model</class>
                <resourceModel>Studioforty9_performance_resource</resourceModel>
            </Studioforty9_performance>
            <Studioforty9_performance_resource>
                <class>Studioforty9_Performance_Model_Resource</class>
            </Studioforty9_performance_resource>
        </models>
        <blocks>
            <Studioforty9_performance>
                <class>Studioforty9_Performance_Block</class>
            </Studioforty9_performance>
        </blocks>
        <helpers>
            <Studioforty9_performance>
                <class>Studioforty9_Performance_Helper</class>
            </Studioforty9_performance>
        </helpers>

        <resources>
            <Studioforty9_performance>
                <setup>
                    <module>Studioforty9_Performance</module>
                </setup>
            </Studioforty9_performance>
        </resources>
    </global>

    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <Studioforty9_performance>
                        <type>model</type>
                        <class>Studioforty9_performance/observer</class>
                        <method>cmsPageRender</method>
                    </Studioforty9_performance>
                </observers>
            </cms_page_render>

            <catalog_controller_category_init_after>
                <observers>
                    <Studioforty9_performance>
                        <type>model</type>
                        <class>Studioforty9_performance/observer</class>
                        <method>catalogControllerCategoryInitAfter</method>
                    </Studioforty9_performance>
                </observers>
            </catalog_controller_category_init_after>

            <catalog_controller_product_view>
                <observers>
                    <Studioforty9_performance>
                        <type>model</type>
                        <class>Studioforty9_performance/observer</class>
                        <method>catalogControllerProductView</method>
                    </Studioforty9_performance>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

    <crontab>
        <jobs>
            <refresh_invalidated_cache>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>Studioforty9_performance/cron::refresh_invalidated_cache</model>
                </run>
            </refresh_invalidated_cache>
        </jobs>
    </crontab>
</config>