<?xml version="1.0"?>
<config>
    <modules>
        <StudioForty9_Performance>
            <version>0.1.0</version>
        </StudioForty9_Performance>
    </modules>
    <global>
        <models>
            <studioforty9_performance>
                <class>StudioForty9_Performance_Model</class>
                <resourceModel>studioforty9_performance_resource</resourceModel>
            </studioforty9_performance>
            <studioforty9_performance_resource>
                <class>StudioForty9_Performance_Model_Resource</class>
            </studioforty9_performance_resource>
        </models>
        <blocks>
            <studioforty9_performance>
                <class>StudioForty9_Performance_Block</class>
            </studioforty9_performance>
        </blocks>
        <helpers>
            <studioforty9_performance>
                <class>StudioForty9_Performance_Helper</class>
            </studioforty9_performance>
        </helpers>

        <resources>
            <studioforty9_performance>
                <setup>
                    <module>StudioForty9_Performance</module>
                </setup>
            </studioforty9_performance>
        </resources>
    </global>

    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <studioforty9_performance>
                        <type>model</type>
                        <class>studioforty9_performance/observer</class>
                        <method>cmsPageRender</method>
                    </studioforty9_performance>
                </observers>
            </cms_page_render>

            <catalog_controller_category_init_after>
                <observers>
                    <studioforty9_performance>
                        <type>model</type>
                        <class>studioforty9_performance/observer</class>
                        <method>catalogControllerCategoryInitAfter</method>
                    </studioforty9_performance>
                </observers>
            </catalog_controller_category_init_after>

            <catalog_controller_product_view>
                <observers>
                    <studioforty9_performance>
                        <type>model</type>
                        <class>studioforty9_performance/observer</class>
                        <method>catalogControllerProductView</method>
                    </studioforty9_performance>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

    <crontab>
        <jobs>
            <refresh_invalidated_cache>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>studioforty9_performance/cron::refresh_invalidated_cache</model>
                </run>
            </refresh_invalidated_cache>
        </jobs>
    </crontab>
</config>